@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Recursive:wght@400;700&display=swap');


* {
    box-sizing: border-box;
}

html {
    height: 100%;
    width: 100%;
}

body {
    width: 100%;
    height: 100%;
    background-color: #FB6B6B;
}

.root {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 250px;
    left: 20%;
}

.home img {
    width: 136px;
    height: 161px;
    margin-bottom: 20px;
}

.root h1 {
    font-family: 'Righteous';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    color: #FFFFFF;
}

.home button {
    width: 246px;
    height: 54px;
    background: #FFFFFF;
    border: 1px solid #D70900;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    font-family: 'Recursive';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    color: #D70900;
    margin-top: 20px;
}

.home button, ion-icon,
img, .esqueci, .quase, .zap:hover {
    cursor: pointer;
}

/* tela de perguntas */
.topo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin: 30px 0;
}

.topo img {
    width: 52px;
    height: 60px;
}

.cards {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pergunta {
    width: 300px;
    height: 65px;

    background: #FFFFFF;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;

    font-family: 'Recursive';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    color: #333333;
}

.pergunta ion-icon {
    width: 20px;
    height: 23px;
}

.pergunta.card {
    width: 299px;
    height: 131px;
    display: block;
    position: relative;
    background: #FFFFD5;
    padding: 20px;
    margin-bottom: 20px;
    font-weight: 400;
}

.face {
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    transition: all .9s;
    position: absolute;
    z-index: 1;
}

.face>div {
    width: 100%;
    height: 100%;
    position: relative;
}

.face img {
    position: absolute;
    bottom: 30px;
    right: 30px;
}

.back {
    transform: rotateY(180deg);
}

.rodarprafrente {
    transform: rotateY(0deg);
}

.rodarpratras {
    transform: rotateY(-180deg);
}

.face .alternativas {
    display: flex;
    flex-direction: row;
    width: 90%;
    height: auto;
    justify-content: space-between;
    padding-top: 30px ;
}

.esqueci,
.quase,
.zap {
    width: 85.17px;
    height: 37.17px;
    border-radius: 5px;
    font-family: 'Recursive';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: #FFFFFF;
}

.esqueci {
    background-color: #FF3030;
}

.quase {
    background-color: #FF922E;
}

.zap {
    background-color: #2FBE34;
}
.incorreto-respondido, .quase-respondido, .zap-respondido{
    text-decoration-line: line-through;
}
.incorreto-respondido{
    color: #FF3030;
}
.zap-respondido{
    color: #2FBE34;
}
.quase-respondido{
    color: #FF922E;
}
.footer {
    padding: 20px;
    width: 100%;
    background: #FFFFFF;
    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.05);

    font-family: 'Recursive';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #333333;
    text-align: center;
}